%nav{ :class =>"navbar", :id => "navbar-main-nav" }
  %div{ :class => "row" }
    %a{ :class => "toggle", "gumby-trigger" => "#navbar-main-nav #main-nav", :href => "#" }
      %i{ :class => "icon-menu" }
    %h1{ :class => "four columns logo"}
      %a{ :href => "/"}
        %img{ :src => "../images/middleman.png"}
    %nav{ :class=> "seven columns pull_right" }
      %ul{ :id => "main-nav" }
        %li
          %a{ :href => "#" }
            features
        %li
          %a{ :href => "#" }
            documentation
          %div{ :class => "dropdown" }
            %ul
              %li
                %a{ :href => "#" }
                  the grid
              %li
                %a{ :href => "#" }
                  ui kit
              %li
                %a{ :href => "#"}
                  sass
              %li
                %a{ :href => "#" }
                  javascript
              %li
                %a{ :href => "#" }
                  demo
        %li
          %a{ :href => "#"}
            something else
          %div{ :class => "dropdown" }
            %ul
              %li
                %a{ :href => "#" }
                  some one
              %li
                %a{ :href => "#" }
                  some two


  	 


