%nav{ :class =>"navbar" }
  %div{ :class => "row", :id => "navbar1"}
    %a{ :class => "toggle", :href => "#", "gumby-trigger" =>("testing") }
      %i{ :class => "icon-menu" }
    %h1{ :class => "four columns logo"}
      %a{ :href => "/"}
        %img{ :src => "../images/middleman.png"}
    %ul{ :class => "eight columns"}
      %li
        %a{ :href => "#" }
          features
      %li
        %a{ :href => "#" }
          documentation
        %div{ :class => "dropdown" }
          %ul
            %li
              %a{ :href => "#" }
                the grid
            %li
              %a{ :href => "#" }
                ui kit
            %li
              %a{ :href => "#"}
                sass
            %li
              %a{ :href => "#" }
                javascript
            %li
              %a{ :href => "#" }
                demo
      %li
        %a{ :href => "#"}
          something else
        %div{ :class => "dropdown" }
          %ul
            %li
              %a{ :href => "#" }
                some one
            %li
              %a{ :href => "#" }
                some two


  	 


